.toolbar-wrap {
	display: block;
	background: #000;
	color: #666;
	font-size: 12px;
	@include clearfix;
	.toolbar.user {
		float: right;
	}
	.toolbar.admin {
		float: left;
	}
	.toolbar {
		padding: 5px 10px;
		a {
			color: #ccc;
			@include inline-block;
			padding: 0 5px;
			line-height: 20px;
		}
	}
}

.editControls {
	position: relative;
	// @include inline-block;
	// display: bl
	.editControls-inner {
		background: $lightgrey;
		border: 1px solid $medgrey;
		// position: absolute;
		// top: 0;
		// left: 0;
		// @include box-shadow(0 3px 5px rgba(0,0,0,0.5));
		// z-index: 999;
		@include inline-block;
		line-height: 100%;
		a {
			// @include inline-block;
			// line-height: 20px;
			color: $blue;
			padding: 0 3px;
			font-size: 10px;
			text-transform: lowercase;
			text-decoration: none;
		}
	}
}