// Leg Action Center http://webadmin.philadelphiabar.org/page/LAC?appNum=1
#div-070511135742590 {
	b,p {
		display: block;
		margin: 0 0 10px 0;
	}
	br {
		display: none;
	}
	ul {
		@extend .list;
		@extend .nobullet;
		@extend .link;
		margin-bottom: 20px;
	}
}