$blockpadding: 15px;

.content-block-container {
	max-width: 305px;
	margin: 1em auto;
	.block {
		margin-bottom: 2em;
	}
}

.block {
	// padding: .5em;
	@include clearfix;
	.block-inner {
		@include clearfix;
	}
	p {
		text-align: left;
	}
	.title {
		// font-size: 24px;
		// line-height: 30px;
		font-weight: 500;
		margin: 0 0 .35em 0;
		&.small {
			font-size: 18px;
		}
		&.medium {
			font-size: 22px;
		}		
		&.large {
			font-size: 24px;
		}		
		a {
			text-decoration: none;
		}
		&.bold {
			font-weight: bold;
		}
		&.arrow {
			&.left {
				a:before {
					@include glyph('\f104');
					margin-right: .25em;
				}
			}
			&.right {
				a:after {
					@include glyph('\f105');
					margin-left: .25em;
				}
			}
		}
	}
	.content {
		font-size: 14px;
		line-height: 16px;
	}
	&.tight {
		.content {
			p { line-height: $lineheight-tight; }
		}
	}
	&.orange { // Orange Block
		.title {
			color: $orange;
			a {
				color: $orange;
			}
		}
		&.bordered {
			padding-top: 1em;
			padding-bottom: 1em;
			background: #f7f7f7;
			border-top: 10px solid $orange;
			border-bottom: 10px solid $orange;			
		}
		&.solid {
			background: $orange;
		}
	}
	&.blue { // Blue Block
		.title {
			color: $blue;
			a {
				color: $blue;
			}
		}
		&.bordered {
			padding-top: 1em;
			padding-bottom: 1em;
			background: #f7f7f7;
			border-top: 10px solid $blue;
			border-bottom: 10px solid $blue;
		}
		&.solid {
			background: $blue;
		}
	}
	&.green { // Green Block
		.title {
			color: $green;
			a {
				color: $green;
			}
		}
		&.bordered {
			padding-top: 1em;
			padding-bottom: 1em;
			background: #f7f7f7;
			border-top: 10px solid $green;
			border-bottom: 10px solid $green;
		}
		&.solid {
			background: $green;
		}
	}	
}

.block.solid {
	background: #666;
	.block-inner {
	padding: $blockpadding;
	color: #fff;
		a {
			color: #fff;
		}
	}
	.title {
		color: #fff;
	}
}

.image.block {
	.title {
		margin-bottom: 0;
		margin-top: .5em;
	}
	.content {
		margin-top: .35em;
	}
	&.content:nth-child(2) {
		margin-top: 0;
	} 
	&.centered {	
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&.left {
		img {
			float: left;
			max-width: 40%;
		}
		.title,
		.content {
			width: 59%;
			margin-left: 1%;
			float: right;
		}
	}
	&.right {
		img {
			float: right;
			max-width: 40%;
		}
		.title,
		.content {
			width: 59%;
			margin-right: 1%;
			float: left;
		}
	}
	&.titled {
		.title,.content {
			float: none;
			width: auto;
		}
		.content {
			margin: 0;
		}
	}
}



.outline.block {
	.block-inner {
		border-width: 1px;
		border-style: solid;
		padding: $blockpadding;
	}
	&.titled {
		.title {
			margin: -$blockpadding;
			margin-bottom: 0;
			padding: ($blockpadding/2) $blockpadding;
		}
		.content {
			padding-top: $blockpadding;
		}
	}
	&.orange {
		.block-inner { border-color: $orange; }
		&.titled {
			.title {
				background: $orange;
				color: #fff;
			}
		}
	}
	&.blue {
		.block-inner { border-color: $blue; }
		&.titled {
			.title {
				background: $blue;
				color: #fff;
			}
		}
	}
	&.green {
		.block-inner { border-color: $green; }
		&.titled {
			.title {
				background: $green;
				color: #fff;
			}
		}
	}
}