#calendar {
	@extend .table;
	@extend .table-bordered;
	border: none;
	td {
		padding: 0 !important;
	}
	tr#title {
		th {
			border: none;
			vertical-align: middle;
			&:nth-child(1) {
				padding-left: 0;
			}
			&:nth-child(2) {
				text-align: center;
				a {
					@extend .button;
				}
			}
			&:nth-child(3) {
				text-align: right;
				padding-right: 0;
				a {
					@extend .button;
					@extend .button.orange;
					@extend .button.pba-small;
				}
			}
		}
		#thismonth {
			font-size: 26px;
			color: $blue;
			font-weight: 700;
		}
	}
	#days {
		background: $blue;
		color: #fff;
	}
	.date {
		float: right;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		width: 30px;
		line-height: 30px;
		text-align: center;
	}
	.cell {
		clear: right;
		padding: 10px;
		font-size: 14px;
		line-height: 120%;
	}
	.title {
		margin-bottom: 10px;
		position: relative;
		img {
			position: absolute;
			top: -3px;
			right: -5px;
		}
		a {
			font-weight: 700;
			text-decoration: none;
			display: block;
			padding: 5px;
			background: $lightgrey;
			border: 1px solid $medgrey;
			&:hover {
				background: $blue;
				color: #fff;
			}
		}
		&:hover {
			.popstyle {
				display: block;
			}
		}
	}
	.popstyle {
		display: none;
		background: #f8f8f8;
		border: $medgrey;
		padding: 0 10px 10px 10px;
		@include box-shadow(0 5px 5px rgba(0,0,0,0.5));
		width: 200px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9999;
		b {
			margin-top: 10px;
			@include inline-block;
		}
	}
}


@include respond-to(screensm) {
	#calendar {
		width: 100%;
		display: block;
		tbody {
			display: block;
			width: 100%;
		}
		#days {
			display: none;
		}
		th,td,tr {
			display: block;
			width: 100% !important;
			border: none !important;
		}
		th {
			text-align: center !important;
		}
		.title {
			background: #f1f1f1;
			border: 1px solid #ccc;
			padding: 1em;
			margin-bottom: 1.5em;
			a {
				border: none;
				background: transparent;
				padding: 0;
				font-size: 16px;
				&:hover {
					background: transparent;
					color: $blue;
				}
			}
		}
		.popstyle {
			display: block;
			border: none;
			padding: 0;
			background: none;
			position: relative;
			top: 0;
			left: 0;
			width: auto;
			@include box-shadow(none);
		}
		.date {
			background: $blue;
			color: #fff;
			text-align: center;
			font-weight: bold;
			padding: .25em;
			margin-bottom: 1em;
			font-size: 20px;
			float: none;
			width: auto;
		}
	}
}