//Base Google Font
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900,900italic);

//FontAwesome Icons
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

$basefont: 'Lato';

body {
	font-family: $basefont, Helvetica, sans-serif;
	font-size: 16px;
}

// h3 {
// 	font-size: 20px;
// 	color: $blue;
// 	margin: 0 0 .5em 0;
// 	line-height: $lineheight;
// }

.main-content,
.sidebar {
	h1 {
		color: $orange;
		border-bottom: 3px solid #ccc;
		padding-bottom: .5em;
		font-size: 30px;
	}

	h2 {
		font-size: 26px;
		font-weight: bold;
		color: $blue;
	}

	h3 {
		font-size: 22px;
		font-weight: bold;
		color: #333;
	}

	h4, h5 {
		color: $orange;
	}

	hr {
		border-color: #ccc;
		clear: both;
	}

	p {
		text-align: justify;
	}
	ul,ol {
		padding-left: 25px;
		&.subnav {
			padding-left: 0;
		}
		li {
			margin-bottom: .65em;
		}
	}
	ul {
	 	&.square {
			list-style-type: square;
		}
		&.checkmark {
			list-style-type: none;
			li {
				position: relative;
				&:before {
					@include glyph("\f00c");
					position: absolute;
					left: -20px;
				}
			}
		}
	}

	strong {
		font-weight: 900;
	}


	blockquote {
		font-weight: 300;
		@include clearfix;
		&.right {
			float: right;
			margin-left: 1em;
			text-align: right;
			border-right: 5px solid #eee;
			border-left: none;
		}
		&.blue { border-color: $blue; }
		&.orange { border-color: $orange; }
		&.green { border-color: $green; }
	}
}

.footnote {
	font-size: 12px;
	border-top: 1px solid #ccc;
	margin-top: 1.5em;
	padding-top: 1em;
	color: #666;
	a {
		color: #666;
		text-decoration: underline;
	}
}