.footer {
	background: $blue;
	color: #ccd4dd;
	font-size: 11px;
	padding-top: 3em;
	a {
		color: #ccd4dd;
	}
	p {
		margin: 0;
	}
	.footer-logo {
		margin-bottom: 1em;
	}
	text-align: center;
	padding: 2em 0;
}