input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea {
	font-size: 15px;
	border: 1px solid #ccc;
	@include border-radius(3px);
	margin: 0;
	padding: 2px;
}