a {
	color: $blue;
	&:hover {
		text-decoration: underline;
	}
}

a[href$=".pdf"] {
	&:before  {
		@include glyph('\f1c1');
		margin-right: 5px;
	}
}

p.row {
	margin-left: 0;
	margin-right: 0;
}

.rightarrow { @include glyph("\f105"); }
.leftarrow { @include glyph("\f104"); }

.centered { text-align: center !important; }
.tleft { text-align: left; }
.tright { text-align: right; }

.nobullet {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

img.image {
	&.left {
		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
	}
	&.right {
		float: right;
		margin-left: 1em;
		margin-bottom: 1em;
	}
}

// List Elements
.list {
	margin: 0;
	&.nobullet {
		@extend .nobullet;
	}
	&.hover {
		li:hover {
			background: #f1f1f1;
		}
	}
	&.square {
		list-style-type: square;
		padding-left: 25px;
	}
	&.padded {
		li {
			padding: 1em;
		}
	}
	&.links {
		a {
			display: block;
			line-height: 100%;
			margin-bottom: .5em;
			font-size: 16px;
			text-decoration: none;
		}
	}
	&.horizontal {
		@extend .nobullet;
		li {
			@include inline-block;
			&.text {
				line-height: 30px;
			}
			a {
				line-height: 30px;
				vertical-align: middle;
				padding: 0 1em;
			}
		}
		&.navigation {
			&.pba-small {
				font-size: 11px;
				text-transform: uppercase;
			}
			// &.large {
			// 	li {
			// 		a { 
			// 			line-height: 50px; 
			// 		}					
			// 	}
			// }
		}
		&.piped {
			li {
				&:after {
					content: "|";
					@include inline-block;
					margin: 0 .5em;
				}
				&:last-child:after {
					display: none;
				}
				a {
					padding: 0;
				}			
			}
		}
		&.dropdown {
			@extend .dropdown;
		}
	}
	&.strong {
		font-weight: bold;
		a {
			font-weight: bold;
		}
	} 
	&.blue {
		color: $blue;
	}
	&.tight {
		* { line-height: $lineheight-tight; }
		a {
			margin-bottom: 0;
		}
	}
	&.news {
		li {
			margin-bottom: 1em;
			clear: both;
			p {
				font-weight: normal;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.thumb {
		li {
			position: relative;
			@include clearfix;
		}
		&.left {
			img {
				width: 20%;
				height: auto;
				float: left;
				@include respond-to(screensm) {
					width: 30%;
				}
			}
			a,p {
				width: 76%;
				margin-left: 2%;
				float: right;
				@include respond-to(screensm) {
					width: 68%
				}
			}
		}
		&.right {
			img {
				width: 20%;
				height: auto;
				float: right;
				@include respond-to(screensm) {
					width: 30%;
				}
			}
			a,p {
				width: 76%;
				margin-right: 2%;
				float: left;
				@include respond-to(screensm) {
					width: 68%
				}
			}
		}
	}
	&.sponsor {
		text-align: center;
		li {
			margin: .5em 0;
			a {
				display: block;
				padding: .5em;
			}
			img {
				max-width: 100%;
				height: auto;
				&.wide {
					min-width: 380px;
					max-height: 80px;
					@include respond-to(screenmed){
						min-width: 100%;
						width: 100%;
						max-height: 100%;
						height: auto;
					}
					@include respond-to(screensm){
						min-width: 100%;
						width: 100%;
						max-height: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

.links.list .cmsactions {
	a {
		@include inline-block();
		@extend .tiny;
		@extend .grey;
		@extend .button;
	}
}

.column {
	.item {
		@include clearfix;
		.col {
			float: left;
		}
		.third {
			&.one { width: 33.33%; }
			&.two { width: 66.66%; }
		}
		.quarter {
			&.one { width: 25%; }
			&.two { width: 50%; }
			&.three { width: 75%; }
		}	
		.fifth {
			&.one { width: 20%; }
			&.two { width: 40%; }
			&.three { width: 60%; }
			&.four { width: 80%; }
		}				
	}
}

// Divider
// construct as: <div class="shade color divider">&nbsp;</div>

.divider {
	height: 1px;
	overflow: hidden;
	border: none;
	margin: 1em auto;
	border-top: 1px solid $medgrey;
	max-width: $content-max-width;
	&.tight {
		margin: .5em 0;
	}
	&.blue { border-color: $blue; }
	&.orange { border-color: $orange; }
	&.grey { border-color: $medgrey }
}


// Button Styles
// Included are Large, Med, Small
// Blue, Orange, Grey
// Left and Right Arrows

.button {
	@include inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	line-height: 100%;
	font-weight: 900;
	text-decoration: none;
	@include text-shadow(none);
	letter-spacing: .5px;
	vertical-align: top;
	text-decoration: none;
	&.grey {
		background: $lightgrey;
		border: 1px solid $medgrey;
		.block.solid & {
			color: #666;
		}
		.orange.block & {
			color: $orange;
		}
		.blue.block & {
			color: $blue;
		}		
		.green.block & {
			color: $green;
		}		
	}
	&.blue {
		background: $blue;
		border: 1px solid $blue;
		color: #fff;
	}	
	&.orange {
		background: $orange;
		border: 1px solid $orange;
		color: $blue;
	}	
	&.tiny {
		font-size: 9px;
	}
	&.pba-small {
		font-size: 11px;
	}
	&.med {
		font-size: 14px;
	}
	&.lg {
		font-size: 18px;
	}
	&.arrow {
		&.left:before {
			@extend .leftarrow;
			margin-right: .5em;
		}
		&.right:after {
			@extend .rightarrow;
			margin-left: .5em;
		}
	}
}

img {
	height: auto;
	&.large {
		max-width: 600px;
	}
	&.medium {
		max-width: 220px;
	}
	&.small {
		max-width: 180px;
	}
}

.note {
	background: #f5f5f5;
	border: 1px solid #ccc;
	padding: 1em;
	@include border-radius(4px);
	margin: 1em 0;
	font-size: 14px;
	font-style: italic;
}