.header {
	background: $orange;
	color: $blue;
	position: relative;
	@include clearfix;
	.row {
		max-width: $content-max-width;
		margin: 0 auto;
		// .mdl-cell {
		// 	margin-top: 0;
		// 	margin-bottom: 0;
		// }
	}
	a {
		color: $blue;
	}
	.logo {
		// padding: 18px 0;
		// float: left;
		margin-bottom: 10px;
		position: relative;
		top: -10px;
		@include clearfix;
		@include respond-to(screensm) {
			top: 0;
		}
		.follow,img {
			float: left;
		}
		.follow {
			margin-top: 10px;
			margin-left: 1em;
			font-size: 16px;
			a {
				display: block;
				padding: .25em 0;
				text-align: center;
				min-width: 25px;
				&:hover {
					background: rgba(255,255,255,0.6);
				}
			}
			.fa {
				font-size: 18px;
			}
		}
	}
	.topnav {
		// float: right;
	}
	.search {
		// float: right;
		// clear: right;
		@include inline-block;
		margin-top: 1.1em;
		@include respond-to(screenmed){
			float: none;
		}
		#srch form {
			position: relative;
			&:before {
				@include glyph("\f002");
				position: absolute;
				left: -18px;
				top: 2px;
			}
			
		}
		input[type="text"] {
			width: 300px;
			@include inline-block;
			position: relative;
			right: -3px;
		}
		input[type="submit"] {
			@extend .button;
			@extend .blue;
			@extend .pba-small;
			line-height: 23px;
			padding: 0 1em;			
		}
	}
}

.mobilesearch {
	background: $medgrey;
	text-align: center;
	display: none;
	form {
		padding: 1em;
		margin-bottom: 0;
	}
}

// MAIN NAV
.mainnav {
	background: $blue;
	.mdl-cell {
		margin-top: 0;
		margin-bottom: 0;
	}
	.list li {
			float: left;
			// @include mappy-bp(max-width 1110px) {
			// 	width: (100% / 8);
			// }
		a {
			color: #fff;
			text-transform: uppercase;
			letter-spacing: .5px;
			padding: 18px 1.5em;
			// text-align: center;
			display: block;
			line-height: 100%;
			// @include mappy-bp(max-width 1105px) {
			// 	padding: 0 1em;
			// }
			&:hover,
			&.selected {
				color: $blue;
			}
		}		
		ul {
			li {
				float: none;
				a {
					text-transform: none;
				}
			}
		}
	}
}