.hero {
	background: $medgrey;
	position: relative;
	overflow: hidden;
	margin-bottom: 1em;
	&:before {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		@include box-shadow(0 -3px 5px rgba(0,0,0,0.5));
		height: 10px;
		background: #ccc;
		z-index: 9777;
	}
}

.hero-inner {
	max-width: $content-max-width;
	margin: 0 auto;
}
.heros .cycle-slideshow {
	width: 100%;
	li {
		img {
			width: 100%;
			height: auto;
		}
	}
}

// .slider {
// 	margin: 0 auto;
// 	img {
// 		width: 100%;
// 		height: auto;
// 	}
// 	p {
// 		background: rgba(#fff,0.8);
// 		padding: 1em;
// 		margin: 0;
// 		width: 250px;
// 	}
// }
// .hero {
// 	// max-width: $content-max-width;
// 	margin: 0 auto;
// 	position: relative;
// 	@include clearfix;
// 	.flexslider {
// 		width: $content-max-width;
// 		max-width: 100%;
// 		margin: 0 auto;
// 	}
// 	// .flexslider-nav {
// 	// 	display: none;	
// 	// 	a {
// 	// 		// display: block;
// 	// 	}
// 	// }
// 	// img {
// 	// 	max-width: $content-max-width;
// 	// 	height: auto;
// 	// }
// }

// // // .flexslider .slides li {
// // //     position:relative;
// // // 	.mdl-grid {
// // // 	    position:absolute;
// // // 	    left:10px;
// // // 	    right:20px;
// // // 	    bottom:0;
// // // 	    background:#000; /* whatever you want */    
// // // 	    z-index:1;
// // // 	    padding:5px;
// // // 	}
// // // }