.home-for-lists {
	.block-inner {
		padding-left: 2em;
		@include respond-to(screensm) {
			padding-left: 0;
		}
		.content:nth-child(2)  {
			margin-bottom: 2em;
		}
	}
}

.twitter-timeline {
	margin: 0 auto;
	display: block !important;
}

.block.twitter {
	@include respond-to(screensm){
		margin-top: 2em !important;
		padding-top: 2em !important;
		border-top: 1px solid #ccc !important;
		padding-right: 70px;
	}
}

.publications.block {
	margin-top: 1em;
	margin-bottom: 2em;
}