.captioned-image {
	margin-top: 2em;
	.caption {
		font-size: 11px;
		line-height: 12px;
		color: #666;
	}
}

img {
	max-width: 100%;
	height: auto;
	&.aligned {
		@include respond-to(screensm) {
			float: none !important;
			display: block !important;
			margin: 1em auto !important;
		}
		&.center {
			float: none;
			display: block;
			margin: 1em auto;
		}
		&.left {
			float: left;
			margin-right: 1em;
			margin-bottom: 1em;
		}
		&.right {
			float: right;
			margin-left: 1em;
			margin-bottom: 1em;
		}
	}
}

.captioned.image {
	@include respond-to(screensm) {
		float: none !important;
		margin: 1em auto !important;
	}
	&.left {
		@extend img.aligned.left;
	}
	&.right {
		@extend img.aligned.right;
	}
	&.center {
		@extend img.aligned.center;
	}
	.caption {
		@include clearfix;
		font-size: 12px;
		line-height: 13px;
		p {
			margin-bottom: .35em;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

.aligned-center,
.aligned-none {
	margin: 0 auto;
}

.aligned-right {
	margin: 2em;
	margin-right: 0;
	float: right;
}
.aligned-left {
	margin: 2em;
	margin-left: 0;
	float: left;
}