body {
	background: $blue;
}
.contentbg {
	background: #fff;
	padding-bottom: 2em;
}
.content-wrap {
	max-width: $content-max-width;
	margin-left: auto;
	margin-right: auto;
}

.mdl-grid {
	padding: 0;
}

.sidebar {
	// margin-top: $gutter20;
	.block {
		margin-bottom: $gutter20;
	}
}

.subpage {
	padding-top: $gutter20;
}

.list.across {
	li,.item {
		@include inline-block;
	}
	&.two {
		li,.item {
			width: 49%;
			@include respond-to(screensm) {
				width: auto;
			}
		}		
	}
	&.three {
		li,.item {
			width: 32%;
			@include respond-to(screensm) {
				width: auto;
			}
		}		
	}
	&.four {
		li,.item {
			width: 24%;
			@include respond-to(screensm) {
				width: 49%;
			}
		}		
	}
	&.five {
		li,.item {
			width: 19%;
			@include respond-to(screensm) {
				width: 33%;
			}
		}		
	}
}

table {
	@extend .table;
}

#contact {
	line-height: 100%;
	background: #f1f1f1;
	border: 1px solid #ccc;
	padding: 1em;
	font-size: 12px;
}