.stackednav {
	li {
		float: none;
		display: block;
	}
	a,
	.menuItemHeader {
		display: block;
		line-height: $lineheight-tight;
		padding: .5em 1em;
		text-decoration: none;
	}
	.menuItemHeader {
		color: #666;
	}
}


.dropdown {
	li {
		position: relative;
		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 200px;
			background: $lightgrey;
			z-index: 99999;
			@extend .nobullet;
			@extend .stackednav;
			@include box-shadow(0 5px 5px rgba(0,0,0,0.8));
			a {
				color: $blue;
				padding: .65em 1em;
				&:hover {
					background: rgba($blue,0.4);
				}
			}
		}
		&:hover {
			a {
				background: $lightgrey;
				color: $blue;
				text-decoration: none;
			}
			ul {
				display: block;
			}
		}
	}
}

// .subnav {
	.stackednav.list {
		li {
			margin-bottom: 5px;
			ul {
				padding-left: 20px;
				margin-left: 0;
				margin-top: 5px;
				li {
					a {
						background: transparent;
						font-weight: normal;
						padding: .25em;
						font-size: 14px;
					}
				}
			}
		}
		a {
			background: $lightgrey;
			&:hover,
			&.selected {
				background: $medgrey;
				text-decoration: none;
			}
		}
	}
// }

.subnav {
	@extend .large;
	@extend .navigation;
	@extend .nobullet;
	@extend .strong;
	@extend .links;
	@extend .stackednav;
	@extend .list;
	// padding-left: 0 !important;
}

.subnav.committees {
	border: 1px solid $blue;
	padding: 10px;
	ul {
		margin-top: 0;
	}
	li, a {
		margin-bottom: 0;
	}
}
.mainnav {
a {
	text-decoration: none;
}
}
#navbar,
.mainnav {
	.nav {
		// @extend .large;
		@extend .horizontal;
		@extend .strong;
		@extend .dropdown;
		// @extend .navigation;
		@extend .list;
		a {
			text-decoration: none !important;
		}
		li {
			font-size: 12px;
			a {
				text-transform: none;
				&:hover,
				&.selected {
					color: $blue;
					background: $lightgrey;
				}
			}
		}
	}
}

.topnav {
	@extend .list;
	@extend .navigation;
	@extend .nobullet;
	@extend .horizontal;
	@extend .strong;
	@extend .dropdown;	
	@extend .piped;	
	a {
		text-decoration: none;
	}
}


.mobile-nav-trigger,
.mobile-search-trigger 
{
	text-align: center;
	display: block;
	float: left;
	font-size: 26px;
	padding: 10px;
	color: #fff;
	[class^="fa-"] {
		margin: 0;
	}
}

.mobile-nav-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	background: $blue;
	right: -110%;		
	@include respond-to(screenmed) {
		width: 300px;
	}
	@include respond-to(screensm) {
		width: 100%;
	}
	overflow: scroll;
	.mobile-nav-close {
		display: block;
		background: $blue;
		color: #fff;
		text-align: center;
		margin-top: 10px;
	}
	ul {
		@extend .nobullet;
		margin: 2em 0;
		li {
			a {
				display: block;
				color: #fff;
				padding: .5em 1em;
				border-top: 1px solid rgba(#fff,0.05);
				border-bottom: 1px solid rgba(#000,0.8);
			}
			ul {
				border-top: 1px solid rgba(#fff,0.05);
				background: rgba(#fff,0.2);
				padding-left: 20px;
				font-weight: 300;
				margin-top: 0;
				margin-bottom: 0;
				li {
					a {
						border: none;
						font-size: 14px;
					}
				}
			}
		}
	}
}


// Used on the main page of the styleguide to render the menu in a grid-like format.
.nav-grid {
	> ul {
		> li {
			width: 32.8%;
			@include inline-block;
			vertical-align: top;
			margin-bottom: 2em;
			text-align: center;
			> a {
				margin: 0 10px;
				background: $lightgrey;
				text-decoration: none;
				margin-bottom: 10px;
				&:hover {
					text-decoration: underline;
				}
			}
			ul {
				padding: 0;
				a {
					font-weight: 500;
					text-decoration: none;
					padding: 0;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}