// When using this mixin, get the code for the icon at:
// http://fortawesome.github.io/Font-Awesome/cheatsheet/
// grab the code that starts with f so from this: fa-coffee [&#xf0f4;]
// grab the 'f0f4' and pass it to the mixin as:
// .someclass {
// 	@include glyph('/f0f4');
// }

@mixin glyph($g) {
	content: $g;
	font-family: FontAwesome;
	@include inline-block;
	vertical-align: top;
}


@mixin respond-to($breakpoint) {
  @if $breakpoint == "screensm" {
    @media (max-width: 600px) {
      @content;
    }
  }
 
  @else if $breakpoint == "screenmed" {
    // @media (max-width: 641px) {
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint == "screenmedland" {
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
      @content;
	   } 
  }

  @else if $breakpoint == "screenlg" {
    @media (min-width: 1024px) {
      @content;
    }
  }
}