.main-content > .defaultText {
	> #masthead,
	> #address {
		text-align: center;
		p {
			text-align: center;
		}
	}
}

#news {
	> h3 {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: center;
	}
}

.news-list {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
	.date {
		// text-align: right;
		// font-size: 11px;
		// text-transform: uppercase;
		color: #666;
		text-align: right;
	}
	.headline {
		
	}
}

// .news.detail {
// 	width: 80%;
// 	margin: 0 auto;
// }