// .modal {
// 	display: block !important;
// 	position: relative !important;
// }
//Board of Governors Minutes
#div-060816105814961 {
	div {
		width: 25% !important;
		border: none !important;
		br {
			display: none;
		}
		h4 {
			margin: 0 15px;
			padding: 0 10px;
		}
		a {
			display: block;
			text-decoration: none;
			margin: 0 15px;
			padding: 5px 10px;
			&:hover {
				background: $lightgrey;
			}
		}
	}
}

// OFFICERS & BOARD OF GOVERNORS
#div-050505145908623 {
	> div {
		width: auto !important;
		float: none !important;
		@include clearfix;
		> div {
			vertical-align: top !important;
			width: 19.6% !important;
			background: none !important;
			margin: 0 0 40px 0 !important;
			padding: 0 !important;
			text-align: left;
			float: none !important;
			@include inline-block;
			@include respond-to(screensm) {
				width: 49% !important;
			}
			br {
				display: none;
			}
			img {
				display: inline !important;
				float: none;
				width: 80% !important;
				height: auto !important;
			}
			a,b {
				display: block;
				// text-decoration: none;
				font-size: 14px;
				padding-right: 20%;
				line-height: 100%;
			}
			a {
				margin-top: 5px;
			}
		}
	}
}