#audio {
	p {
		@extend .list;
		@extend .link;
		a {
			text-decoration: none;
			font-weight: 700;
			padding-left: 40px;
			position: relative;
			display: block;
			margin-bottom: 0;
			padding: 1em 1em 1em 40px;
			border-bottom: 1px solid #ccc;
			&:hover {
				background: #f1f1f1;
			}
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 5px;
				@include transform(translateY(-50%));
				font-size: 28px;
				color: #999;
			}
		}
		&.audio a:before {
			@include glyph("\f028");
		}
		&.video a:before {
			@include glyph("\f01d");
		}		
	}
}

#poddetail {
	.top {
		@include clearfix;
		position: relative;
		img {
			float: left;
		}
		p {
			font-size: 24px;
			font-weight: 700;
			line-height: 59px;
			margin: 0;
			padding: 0;
		}
	}
	#bottom {
		#details {
			background: #f1f1f1;
			padding: 1em;
			#iconsm {
				display: none;
			}
		}
	}
}

#podicons {
	// text-align: center;
	@include clearfix;
	margin-bottom: 1.5em;
	> a {
		display: block;
		width: 12%;
		text-align: center;
		// float: left;
		@include inline-block;
	}
}
