.search {
	input[type="text"] {
		border: none;
		@include border-radius(0);
		padding-left: 5px;
	}
	.button {
		line-height: 23px;
		padding: 0 1em;
	}
}

#searchResults {
	@extend .list;
	@extend .nobullet;
	li {
		margin-bottom: 1em;
		padding: 10px;
		padding-bottom: 1em;
		border-bottom: 1px solid $lightgrey;
	}
	#search_nav {
		background: $lightgrey;
		margin-bottom: 1em;
		padding-bottom: 10px;
		@include clearfix;
		em {
			display: block;
			float: left;
			line-height: 25px;
		}
	}
	.next a {
		@extend .small;
		@extend .orange;
		@extend .button;
	}
	.link {
		a {
		font-weight: bold;
		text-decoration: none;			
		}
	}
	.content {
		color: #666;
		font-size: 14px;
		line-height: 110%;
		br {
			display: none;
		}
	}
}