.subpage-header {
	 background-size: cover;
	 height: 170px;
	 background-position: center center;
}

.subheader {
	position: relative;
	margin-bottom: 1.5em;
	&.dark * {
		color: #fff;
	}
	&.centered {
		text-align: center;
		.text p {
			text-align: center;
		}
	}
	.text {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		p {
			text-align: left;
		}
	}
}