table {
	@extend .table;
	&.striped {
		@extend .table-striped;
	}
	&.bordered {
		@extend .table-bordered;
	}
	&.large {
		th,td { font-size: 18px; }
	}
	&.small {
		th,td { font-size: 14px; }
	}
	&.blue {
		thead th {
			border-bottom-color: $blue !important;
			color: $blue;
		}
	}
	&.orange {
		thead th {
			border-bottom-color: $orange !important;
			color: $orange;
		}
	}
	&.green {
		thead th {
			border-bottom-color: $green !important;
			color: $green;
		}
	}
}