$orange: #f59631;
$blue: #012a54;
$green: #009e8e;

$textcolor: #333;

$lightgrey: #eeeeee;
$medgrey: #ccc;

$content-max-width: 1300px;

$lineheight: 120%;
$lineheight-tight: 110%;


$gutter5: 5px;
$gutter10: 10px;
$gutter20: 20px;
$gutter30: 30px;